/.env
/vendor/
/storage/*.key
/storage/app/private/*
/storage/app/nurselink-private/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*.php
!.gitignore
